/*General Styles */

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62,5%;
}

body, nav {
    font-family: 'Playfair Display', serif;
    background-image: linear-gradient(to right, darkblue, black);
}

h1, h3 {
    font-style: italic;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

h4, h5 {
    color: rgb(255, 255, 255);
    margin-top: 10px;
    margin-bottom: 5px;
}

div {
    color: rgb(255, 255, 255);
    margin-top: 5px;
}

p {
    color: rgb(255, 255, 255);
} 

/* header {
    grid-area: header;
}

header nav {
    
}

header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: end;
}

header nav ul li {
    padding: 10px;
    border: ridge rgb(30, 27, 196);
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

footer ul {
    list-style-type: none;
    display: flex;
    justify-content: end;
}

footer ul li {
    padding: 5px;
    color: rgb(255, 255, 255);
    border: ridge rgb(30, 27, 196);
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: all infinite;
}

a:hover {
    color: blue;
} 
*/
/*
/*Index Style*/

/* .bodyindex {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 2fr 7fr 1fr;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
}

.mainindex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.imgindex {
    width: 421px;
    height: 270px;
}

@media screen and (max-width: 768px) {
    .bodyindex {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 4fr 0.5fr;
        grid-template-areas: 
        "header header"
        "main main"
        "footer footer";
    }
    .mainindex {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 480px) {
    .bodyindex {
        display: flex;
        flex-direction: column;
    }
    header nav ul {
        flex-direction: column;
        align-items: center;
    }
}
 */

/*Actividades Style*/

/* .bodyActividades {

}

.sec1Act {
    margin-bottom: 50px;    
}

.img1Act {
    width: 1000px;
    height: 700px;
    margin-top: 50px;
}

.img2Act {
    width: 1000px;
    height: 700px;
    margin-top: 50px;
}

.img3Act {
    width: 1000px;
    height: 700px;
    margin-top: 50px;
}

.sec2Act {
    
} */

.tableAct {
    border: solid 2px whitesmoke;
    transition: all infinite;
}

.tableAct:hover {
    transform: scale(1.5) translateX(55px);
}

th {
    color: rgb(255, 255, 255);
    border: solid 2px rgb(23, 40, 197);
}

td {
    color: rgb(255, 255, 255);
    border: solid 2px rgb(23, 40, 197);
}


/*Sponsors Style*/

/* .bodySponsors {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 2fr 7fr 1fr;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
}

.mainSponsors {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.imgSpo1 {
    width: 375px;
    height: 250px;
    margin-bottom: 50px;
}
.imgSpo2 {
    width: 375px;
    height: 250px;
    margin-bottom: 50px;
}
.imgSpo3 {
    width: 375px;
    height: 250px;
    margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
    .bodySponsors {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 4fr 0.5fr;
        grid-template-areas: 
        "header header"
        "main main"
        "footer footer";
    }
    .mainSponsors {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 480px) {
    .bodySponsors {
        display: flex;
        flex-direction: column;
    }
}
 */

/*Nosotros Style*/

/* .bodyNosotros {

}

.sec1Nos {
    margin-top: 50px;
    margin-bottom: 50px;
}

.imgNos {
    width: 1400px;
    height: 1000px;
} */

.sec2Nos {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

legend {
    color: aliceblue;
}


/*Contacto Style*/

.bodyContacto {

}

.formCont {
    margin-top: 50px;
    margin-bottom: 50px;
}

label {
    font-weight: bold;
}

.label1 {
    margin-right: 9px;
    color: aliceblue;
}

.label2 {
    margin-right: 27px;
    color: aliceblue;
}

.label3 {
    margin-right: 5px;
    color: aliceblue;
}

input {
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

textarea {
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}