.tableAct:hover {
    transform: scale(1.5);
}

th {
    color: rgb(255, 255, 255);
    border: solid 2px rgb(23, 40, 197);
}

td {
    color: rgb(255, 255, 255);
    border: solid 2px rgb(23, 40, 197);
}

.h3Actividades {
    color: red;
}

.spanActividades {
    vertical-align: super;
    color: red;
}