.formCont { 
    @extend .sec2Nos;
    height: 250px;
    margin-bottom: 50px;
}

label {
    font-weight: bold;
    color: aliceblue;
}

.label1 {
    margin-right: 9px;
}

.label2 {
    margin-right: 27px;
}

.label3 {
    margin-right: 5px;
}

input {
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

textarea {
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}